@import "tailwindcss";

@theme {
  --color-charcoal: #1A1A1A;
  --color-midnight: #0F172A;
  --color-pure: #FFFFFF;
  --color-concrete: #F9FAFB;
  --color-firma-green: #006d4e;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-concrete);
  color: var(--color-charcoal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}